<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Orders</h2>
                    <h3 class="section-subheading text-muted">Special commissions for special occasions</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cakes</h4>
                    <p class="text-muted">Celebration cakes made to order. Prices vary from 30 euro.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bakes</h4>
                    <p class="text-muted">Traybakes available to order for any occasion, large or small.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-basket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desserts</h4>
                    <p class="text-muted">Some things just have to be assembled "on the day". Leave those things to us.</p>
                </div>
            </div>
        </div>
    </section>